// Place all the styles related to the storyGame controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-image:url("mapImg/background_image.png");
}

#wholepage{
	width: '100%';
  height: '100%';
  zIndex: '0';
}
#game{
  width:60%;
  height:70%;
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background: #6495ed;
  float:left;
}

#enchant-stage{
  width:600px;
}

#programArea{
  width:40%;
  float:right;
}
 
/* divのfloatの解除用 */
.clear {
  clear:both; 
}
 
/* 右枠・ドラッグ枠 */
#dragArea {
  height:50%;
}

/* 左枠・ドロップ枠 */
#dropArea {
  height:50%;
}
 
.panel{
  margin-bottom: 0px;
}
/* 左枠・ドロップ枠 */
#dropArea ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
}
 
#dropArea li {
    margin: 5px;
    padding: 10px;
}
 
#sort-drop-area {
    padding: 5px 0;
    border: 1px dashed #0099FF;
    border-radius: 10px;
    border-width: 3px;
}

#dragArea li {
  padding:5px;
  list-style-type: none;
}
#dragArea ul {
  padding:5px;
}

#clearPopup{
  font-size:20px;
  position:absolute;
  zindex:20;
  width:40%;
  left:30%;
  top:20%;
  visibility:hidden;
  color: #fff;
  background: #6495ed;
}

#gameOverPopup{
  font-size:20px;
  position:absolute;
  zindex:20;
  width:50%;
  left:25%;
  top:20%;
  visibility:hidden;
  color: #fff;
  background: #75A9FF;
}

li {
  list-style: none;
}

#block_1{
  background: rgba(81,169,98,1);
  color: #fff;
  
}
#block_2{
  background: rgba(248,208,76,1);
  color: #fff;
}
#block_3{
  background: rgba(73,116,184,1);
  color: #fff;
}
#block_4{
  background: rgba(214,63,50,1);
  color: #fff;
}
#block_5{
  background: rgba(81,169,98,1);
  color: #fff;
}
