// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signupform{
	float: center;
  clear:center;
	text-align:center;
	z-index: 1;
  margin: 0 auto;  
	width: 30%;  
}
.loginform{
	float: center;
  clear:center;
	text-align:center;
	z-index: 1;
  margin: 0 auto;  
	width: 30%;  
}
